/.idea/.gitignore
/.idea/aws.xml
/.idea/dbnavigator.xml
/.idea/sonarlint/issuestore/index.pb
/.idea/Intro-to-Vue-3.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
